<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="placeHolderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:hibernate.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="scriptLoader" class="org.syracus.spring.bsf.CachingScriptLoader">
		<property name="locations">
			<list>
				<value>/WEB-INF/scripts</value>
			</list>
		</property>
	</bean>
	
	<bean id="scriptRunner" class="org.syracus.spring.bsf.ScriptRunner">
		<property name="scriptLoader">
			<ref local="scriptLoader"/>
		</property>
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>${hibernate.connection.datasource}</value>
		</property>
	</bean>
  
	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location">
					<value>classpath:hibernate.properties</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="hibernateTxManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="userDao" class="org.syracus.rapid.realm.dao.HibernateUserDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="realmServiceImpl" class="org.syracus.rapid.realm.RealmServiceImpl">
		<property name="userDao">
			<ref local="userDao"/>
		</property>
	</bean>
	
	<bean id="realmService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="realmServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="userProfileDao" class="org.syracus.rapid.profiles.dao.JdbcUserProfileDao">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
	</bean>
	
	<bean id="profileService" class="org.syracus.rapid.profiles.ProfileService">
		<property name="userProfileDao">
			<ref local="userProfileDao"/>
		</property>
	</bean>
	
	<bean id="moduleDao" class="org.syracus.rapid.components.dao.HibernateModuleDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="projectDao" class="org.syracus.rapid.components.dao.HibernateProjectDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="componentDao" class="org.syracus.rapid.components.dao.HibernateComponentDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="componentServiceImpl" class="org.syracus.rapid.components.ComponentServiceImpl">
		<property name="moduleDao">
			<ref local="moduleDao"/>
		</property>
		<property name="projectDao">
			<ref local="projectDao"/>
		</property>
		<property name="componentDao">
			<ref local="componentDao"/>
		</property>
	</bean>
	
	<bean id="componentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="componentServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="todoDao" class="org.syracus.rapid.todos.dao.HibernateTodoDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="todoServiceImpl" class="org.syracus.rapid.todos.TodoService">
		<property name="todoDao">
			<ref local="todoDao"/>
		</property>
	</bean>
	
	<bean id="todoService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="todoServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="messageDao" class="org.syracus.rapid.messages.dao.HibernateMessageDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="messageServiceImpl" class="org.syracus.rapid.messages.MessageService">
		<property name="messageDao">
			<ref local="messageDao"/>
		</property>
	</bean>
	
	<bean id="messageService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="messageServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="send*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="commentDao" class="org.syracus.rapid.comments.dao.HibernateCommentDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="commentServiceImpl" class="org.syracus.rapid.comments.CommentService">
		<property name="commentDao">
			<ref local="commentDao"/>
		</property>
	</bean>
	
	<bean id="commentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="commentServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="issueDao" class="org.syracus.rapid.issues.dao.HibernateIssueDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="issueTypeDao" class="org.syracus.rapid.issues.dao.HibernateIssueTypeDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="issuePriorityDao" class="org.syracus.rapid.issues.dao.HibernateIssuePriorityDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="issueStatusDao" class="org.syracus.rapid.issues.dao.HibernateIssueStatusDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="issueServiceImpl" class="org.syracus.rapid.issues.IssueService">
		<property name="issueTypeDao">
			<ref local="issueTypeDao"/>
		</property>
		<property name="issuePriorityDao">
			<ref local="issuePriorityDao"/>
		</property>
		<property name="issueStatusDao">
			<ref local="issueStatusDao"/>
		</property>
		<property name="issueDao">
			<ref local="issueDao"/>
		</property>
	</bean>
	
	<bean id="issueService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="issueServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="moduleHistoryDao" class="org.syracus.rapid.history.dao.HibernateModuleHistoryDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	<bean id="projectHistoryDao" class="org.syracus.rapid.history.dao.HibernateProjectHistoryDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	<bean id="componentHistoryDao" class="org.syracus.rapid.history.dao.HibernateComponentHistoryDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="historyServiceImpl" class="org.syracus.rapid.history.HistoryService">
		<property name="moduleHistoryDao">
			<ref local="moduleHistoryDao"/>
		</property>
		<property name="projectHistoryDao">
			<ref local="projectHistoryDao"/>
		</property>
		<property name="componentHistoryDao">
			<ref local="componentHistoryDao"/>
		</property>
	</bean>
	
	<bean id="historyService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="historyServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="moduleAttachementDao" class="org.syracus.rapid.files.dao.HibernateModuleAttachementDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	<bean id="projectAttachementDao" class="org.syracus.rapid.files.dao.HibernateProjectAttachementDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	<bean id="componentAttachementDao" class="org.syracus.rapid.files.dao.HibernateComponentAttachementDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	<bean id="issueAttachementDao" class="org.syracus.rapid.files.dao.HibernateIssueAttachementDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>
	</bean>
	
	<bean id="attachementServiceImpl" class="org.syracus.rapid.files.AttachementService">
		<property name="moduleAttachementDao">
			<ref local="moduleAttachementDao"/>
		</property>
		<property name="projectAttachementDao">
			<ref local="projectAttachementDao"/>
		</property>
		<property name="componentAttachementDao">
			<ref local="componentAttachementDao"/>
		</property>
		<property name="issueAttachementDao">
			<ref local="issueAttachementDao"/>
		</property>
	</bean>
	
	<bean id="attachementService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="attachementServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="watchDao" class="org.syracus.rapid.watches.dao.HibernateGenericWatchDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>	
	</bean>
	
	<bean id="watchServiceImpl" class="org.syracus.rapid.watches.GenericWatchService">
		<property name="watchDao">
			<ref local="watchDao"/>
		</property>
	</bean>
	
	<bean id="watchService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="watchServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="eventTypeDao" class="org.syracus.rapid.events.dao.HibernateEventTypeDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>	
	</bean>
	
	<bean id="eventDao" class="org.syracus.rapid.events.dao.HibernateEventDao">
		<property name="sessionFactory">
			<ref local="hibernateSessionFactory"/>
		</property>	
	</bean>
	
	<bean id="eventServiceImpl" class="org.syracus.rapid.events.EventService">
		<property name="typeDao">
			<ref local="eventTypeDao"/>
		</property>
		<property name="eventDao">
			<ref local="eventDao"/>
		</property>
	</bean>
	
	<bean id="eventService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTxManager"/>
		<property name="target">
			<ref local="eventServiceImpl"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>
</beans>